* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* float設定による入り込みをブロックするための記述 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header{
    width: 100%; /* 横幅いっぱい */
    height:70px; /* 高さ70px */
    background-color: red; /* 背景色red */
}

.logo{
  width: 120px;
  height: 70px;
  float: left;
  background-color: darkviolet;
}

.navigation-list{
    width: 560px;
    height: 70px;
    float: right;
    background-color: pink;
}
.navigation{
  width: 960px; /* 横幅960px */
  height: 70px; /* 高さ70px */
  margin: 0 auto;  /* 中央寄せ */
  background-color: hotpink; /* 背景色hotpink */
}

.navigation{
  width: 960px; /* 横幅960px */
  height: 70px; /* 高さ70px */
  margin: 0 auto;  /* 中央寄せ */
  background-color: hotpink; /* 背景色hotpink */
}
.main{
  width: 100%; /* 横幅いっぱい */
  height: 1000px; /* 高さ1000px */
  background-color: green; /* 背景色green */
}

.main-visual{ 
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ650px */
  background-color: orange; /* 背景色orange */
}

.main-visual-text{
  width: 650px; /* 横幅650px */
  height: 650px;/* 親の高さに揃える */
  background-color: yellow; /* 背景色yellow */
  margin: 0 auto; /* 真ん中に寄せる */
}
.main-text{
  width: 930px; /* 横幅930px */
  height: 250px; /* 高さ250px */
  margin: 0 auto; /* 中央寄せ */
  background-color: lightgreen; /* 背景色lightgreen */
}

.main-contents{
  width: 930px; /* 横幅930px */
  height: 750px; /* 高さ750px */
  margin: 0 auto; /* 中央寄せ */
  background-color: lime; /* 背景色lime */
}
.main-contents-box{
  width: 300px; /* 横幅300px */
  height: 300px; /* 高さ300px */
  float: left; /* 要素を左詰めで設定 */
  background-color: limegreen; /* 背景色limegreen */
  margin:5px; /* 四方に隙間を5px設定 */
}
.footer {
  width: 100%; /* 横幅いっぱい */
  height: 60px; /* 高さ60px */
  background-color: blue; /* 背景色blue */
}