* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #6c6b6b; */
}


header {
  width: 100%; /* 横幅90% */
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading { /* headerタグ内のheadingクラスにのみ反映される */
  /* font-size: 32px; */
}
.border{
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.nav-list {
  text-align: center;
  padding: 15px 0px;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}



.flex-wrap{
  margin: 50px 0;

}
.flex{
  display: flex;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}

.box{
  width: 200px;
  height: 200px;
}

.b1{
  background-color: #e6ffe9;
}
.b2{
  background-color: #cbffd3;
}
.b3{
  background-color: #aeffbd;
}
.b4{
  background-color: #93ffab;
}
.b5{
  background-color: #f3ffd8;
}
.b6{
  background-color: #edffbe;
}
.b7{
  background-color: #e9ffa5;
}
.b8{
  background-color: #e4ff8d;
}
.b9{
  background-color: #d9e5ff;
}
.b10{
  background-color: #bad3ff;
}
.b11{
  background-color: #a4c6ff;
}
.b12{
  background-color: #8eb8ff;
}
