* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 960px;
  margin: 0 auto;
}
.top-wrap{
  margin: 50px;
}
.top-wrap p{
  padding: 20px 0 20px 20px;
}
.top-wrap p:nth-child(odd){
  background-color: rgb(161, 161, 161);
}

.flex{
  display: flex;
}
.flex div:first-child{
  margin-right: 5%;
}
.flex div:last-child{
  margin-left: 5%;
}

.bottom-wrap{
  margin-bottom: 10px;
}
.red{
  background-color: red;
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  margin: ;
}
.yello{
  background-color: rgb(255, 213, 124);
  width: 30%;
  height: 200px;

}
